@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@1&family=Chewy&family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');


body{
margin-left: auto;
margin-right: auto;
text-align: center;

 background-image: url("../imagenes/naturaleza.jpg");


}

nav{
	margin-left: auto;
	margin-right: auto;
}

aside{
	margin-left: auto;
	margin-right: auto;
}

#cuento{
	background: rgb(255, 0, 0);
	color: rgb(255,255,102);
	width: 1100px;	
	margin: 10px auto;
	border-style: solid;
	border-color: black;
	text-align: left;

	

}

#tit {
	background: rgb(255, 0, 0);
	color: rgb(255,255,102);
	text-align: center;
	width: 1100px;	
	margin: 10px auto;
	font-family: 'Castoro', serif;

}

#menu ul {
	list-style: none;
	margin: -10px;
	padding: 0px;

}

#menu li{
	float: left;
}

#menu a{
	color: rgb(255,255,102);
	text-decoration: none;
	display: block;
	padding: 12px 26px;
	font-family: "Castoro";
}

#menu {
	background: rgb(255, 0, 0);
	width: 1100px;
	height: 52px

}

#menu a:hover {
	color: rgb(101, 153, 255);

}


header{
	margin-left: auto;
	margin-right: auto;
}

#banner{
	height: 300px;
    width: 1100px;
    margin: 0px auto;
    padding: 25px;
   
}


#sonido{

	margin: 10px auto;
	width: 1100px;
	color: black;
}

#autor{
	background-color: red;
	width: 1100px;	
	margin: 10px auto;
	border-style: solid;
	border-color: black;
	color: rgb(255,255,102);
}

#titN{
	background: rgb(255, 0, 0);
	color: rgb(255,255,102);
	text-align: center;
	width: 1100px;	
	margin: 10px auto;
	font-family: 'Castoro', serif;
	border-style: solid;
	border-color: black;
}

#fuente{
	color: rgb(255,255,102);
	background-color: red;
	width: 1100px;
	margin: 10px auto;
	border-style: solid;
	border-color: black;
}

.curs{
	font-style: italic;
	margin-left: 15px;
}

#glosario1{
	width: 450px;
	float:left;
	padding: 5px;

}

#Res{
	background-color: red;
	color: rgb(255,255,102);
	width: 1100px;
	margin: 10px auto;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	border-color: black;
	border-style: solid;
	border-radius: 10px;

}

#Opin{
	background-color: red;
	color: rgb(255,255,102);
	width: 1100px;
	margin: 10px auto;
	text-align: justify;
	font-family: "Calibri";
	border-style: double;
	border-color: black;
	border-width: 10px;
	border-radius: 10px;
}

#lectura:hover{
border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
margin: 0px 300px;
}

#ojo{
	margin: 0px 400px;
}

.par{
	margin: 5px;
}

.parr{
	margin: 25px;
}

#aporte0{
	width: 400px;	
	margin: 105px;
	padding: 0px;
	text-align: justify;
    background: rgb(255, 0, 0);
	border-style: solid;
	border-color: black;
	color: rgb(255,255,102);
	float: left;
}

#aporte1{
	width: 400px;	
	padding: 0px;
	text-align: justify;
    background: rgb(255, 0, 0);
	border-style: solid;
	border-color: black;
	color: rgb(255,255,102);
	float: left;

}


#disqus_thread{
	width: 1100px;
	color: white;
	margin: 10px auto;
	border-style: solid;
	border-color: black;
}

#com{
	color: white;
	
}